<nav>
    <ul>
        <li><a href="{% url 'shop:allprodcat'%}">All products</a></li>
        {% for cat in links %}
        <li><a href="{{cat.get_url}}">{{cat.name}}</a></li>
        {% endfor %}
        <li>Your Cart()</li>
    </ul>
</nav>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
                {% if item_count>0 %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'Cart:cart detail' %}"><i class="fa fa-shopping.Cart"></i>{{item-count}}</a>
                <input type="submit"> <i class="fa-light fa-cart-shopping"></i>
            </li>
            <li class="nav-item dropdown {% if 'shop' in request path %} active {% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown">
            Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'shop:allprodcat' %}">Shop</a></li>
            {% for cat in links %}
            <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
            {% endfor %}
            </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Your Cart()</a>
            </li>
            </ul>
            <form class="d-flex" action="{% url 'searchapp:'searchapp'%}" method="get">
                {% crsf_token %}
            <input class="form-control me-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fa fa-Search"></i></button>
            </form>
        </div>
    </div>
</nav>